@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --font-geist-sans: "IBM+Plex+Sans+Arabic";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-geist-sans); */
  font-family: "IBM Plex Sans Arabic";
  /* behavior: smooth; */
  scroll-behavior: smooth;
}
